.functions
  = link_to likes_path(likeable_id: likeable_id, likeable_type: likeable_type), method: :post, remote: true do
    %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true"}
  = likes
  = link_to new_comment_path(post: post), method: :get, remote: true  do
    %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
