.functions
  = render 'likes/like', id: object.id, type: object.class.name, likes: object.likes.length
  - object.class.name == "Comment" ? post_id = object.post.id : post_id = object.id
  = render 'comments/make_comment', post_id: post_id
  %p= time_ago_in_words(object.created_at) + " ago"
