<div id="header">
	<p id="logo">odinbook</p>
	<%= link_to "log out", destroy_user_session_path, :method => :delete, class: "logout" %>
	<div id="left-head">
		<%= link_to people_path, method: :get, id: "people-inv" do %>
			<span id="first-glyph" class="glyphicon glyphicon-user" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		<% end %>
		<%= link_to people_path, method: :get, id: "messages" do %>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		<% end %>
	</div>
</div>