<div id="profile-main">
	<div id="wrapper-chunk">
		<div id="odin-sidebar">
			<p><b><%= link_to "Welcome to Odinbook!", root_path %></b></p>
			<p>Fell free to make your own account!</p>
			<p>This is a perfect place to waste your time, and do nothing productive!</p>
		</div>
	</div>
</div>