#profile-main
  #wrapper-chunk
    #odin-sidebar
      %p
        %b= link_to "Welcome to Odinbook!", root_path
      %p Fell free to make your own account!
      %p This is a perfect place to waste your time, and do nothing productive!
