<div id="main-user-profile">
	<%= render "users/basic_user_display", user: @user, pic_size: "vl" %>
</div>
<div id="profile-links">
	<div class="link">
		<%= link_to "Timeline", timeline_path(@user.id) %>
	</div>
	<div class="link">
		<%= link_to "Friends", friends_path(@user.id) %>
	</div>
	<div class="link">
		<%= link_to "About", user_profile_path(user_id: @user.id) %>
	</div>
</div>