<% if user_signed_in? %><div id="main-profile-wrapper" class="clearfix">
	<div id="main-wrapper">
		<div id="dashboard-posts">
			<div class="new-post">
				<%= render partial: "posts/form" %>
			</div>
			<div class="posts">
				<%= render @posts %>
			</div>
		</div>
	</div>

	<%= render partial: "static_pages/you_may_know", locals: { users: @users } %>

</div>

<% else %>

	<%= render "static_pages/welcome" %>

<% end %>