<div id="main-wrapper" class="clearfix">
	<div id="dashboard-posts">
		<% if user_signed_in? %>
			<div class="new-post">
				<%= render partial: "posts/form", locals: { receiver: (@user.id if @user != current_user) } %>
			</div>
		<% end %>
		<div class="posts">
			<% if @posts.length > 0 %>
				<%= render @posts %>
			<% else %>
				<p><b>This user has no posts!</b></p>
			<% end %>
		</div>
	</div>
</div>