<% if user_signed_in? %>

	<div id="main-wrapper" class="clearfix">
		<div id="dashboard-posts">
			<div class="posts">
				<%= render @posts %>
			</div>
		</div>
	</div>

<% else %>

	<%= render "static_pages/welcome" %>

<% end %>