<div id="main-wrapper" class="clearfix">
	<div id="dashboard-posts">
		<div class="posts">
			<% if @posts.length > 0 %>
				<%= render @posts %>
			<% else %>
				<p><b>This user has no posts!</b></p>
			<% end %>
		</div>
	</div>
</div>