.comment.clearfix{:id => "comment-#{comment.id}"}
  .c-main
    .c-core
      .c-content
        = render partial: "users/basic_user_display", locals: { user: comment.author, pic_size: "sm" }
        %p
          = comment.content
      .c-functions
        = render 'static_pages/functions', object: comment
