.comment.clearfix{:id => "comment-#{comment.id}"}
  .c-main
    .c-core
      .c-content
        = render "users/basic_user_display", user: comment.author, pic_size: "sm"
        %p
          = comment.content
      .c-functions
        = render 'static_pages/functions', object: comment
