<div class="user-pic-<%= pic_size %>">
	<%= image_tag user.avatar.url %>
</div>

<div class="user-name"> 
	<%  if local_assigns[:receiver] %>
		<%= user_name_link(user) + " > " + user_name_link(receiver) %>
	<%  else %>
		<%= user_name_link(user) %>
	<% end %>
</div>