<div class="user clearfix">
	<div class="user-pic-lg">
			<%= image_tag user.avatar.url %>
	</div>

	<div class="main">
		<div class="user-name"> 
			<%= link_to "#{user.first_name} #{user.last_name}", user %>
		</div>

		<div class="info"> 
			<%= "some info about this user" %>
		</div>

		<div class="functions">
			<%= "FUNCTIONS" %>
		</div>
	</div>
</div>