<div class="user clearfix">
	<div class="main">
		<%= render "users/basic_user_display", user: user, pic_size: "md" %>

		<div class="info"> 
			<p><%= user.profile.profile_description %></p>
		</div>
	</div>
</div>