#main-wrapper
  #people
    #wrapper-chunk
      #invites-received
        - if @received_invitations.length > 0
          %p Invites received:
          = render partial: "users/people", collection: @received_invitations.map(&:inviting_user), locals:{ f_num: 1 }, as: :user
        - else
          %b You have not received any invites!
      #invites-sent
        - if @sent_invitations.length > 0
          %p Invites sent:
          = render partial: "users/people", collection: @sent_invitations.map(&:invited_user), locals:{ f_num: 2 }, as: :user
        - else
          %b You have not sent any invites!
      #friends
        - if @friends.length > 0
          %p Your friends:
          = render partial: "users/people", collection: @friends, locals:{ f_num: 3 }, as: :user
        - else
          %b You have no friends hehehehehe xD
