#main-wrapper
  #wrapper-chunk
    .profile-wrapper.clearfix
      = render "basic_user_display", user: user, pic_size: "lg"
      %div
        = link_to "Send friend request", send_invite_path(inv_user_id: user), method: "post"
