- if @posts
  - @collection = @posts
  elem = '#inf-scroll'
  scroll_off = true
- elsif @comments
  - @collection = @comments
  elem = '.paginate-comments##{@post.id}'
  scroll_off = false

- if @collection
  $(elem).before('#{j render @collection}');
  - if @collection.next_page
    $(elem + ' .pagination').replaceWith('#{j will_paginate @collection}');
  - else
    $(elem).remove();
    if (scroll_off) $(window).off('scroll');
