= simple_form_for new_chat_message, url: chat_messages_path, html: { class: "clearfix" }, remote: true do |f|
  .form-inputs
    = f.input :content, required: true
    = f.hidden_field :chat_id, { value: chat.id }
  .actions
    = f.button :button do
      %span.glyphicon.glyphicon-send
