!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = "Welcome to aqueous-earth-6301.herokuapp.com,  #{@user.first_name}"
    %p
      You have successfully signed up to odinbook.
      We hope that you will have a great time here.
    %p
      = "To login to the site, just follow this link: #{@url}"
    %p
      Thanks for joining and have a great day!