<div id="wrapper-chunk">
	<div id="post-form">
		<%= form_for(@post, html: { class: "form-inline"}) do |f| %>
		
			<div clas="form-group" style="display: inline-block">
				<%= f.text_field :content, class: "form-control", required: true %>
			</div>
		
			<%= f.submit "Submit", class: "btn btn-default",style:"margin-left: 50px;"  %>
		<% end %>
	</div>
</div>
