// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.minimize{
  &:hover{
    background: red;
  }
}
#chat-window{
  position: fixed;
  width: 400px;
  height: 410px;
  border: 1px solid #BBB;
  bottom: 0;
  right: 0;
  background: #FFF;
  .chat-options{
    float:right;
    width: 25px;
  }
  .chat{
    height: 332px;
  }
  .chat-list{
    width: 373px;
    >div{
      float: left;
      background: #FEFEFE;
      border: 1px solid #DDD;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
    }
    >div:hover{
      float: left;
      background: #F3F3F3;
      border: 1px solid #DDD;
    }
  }
}
.title{
  font-size: 20px;
  background: #ECECEF;
  padding: 2px;
  padding-left: 8px;
}
.chat-messages{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 290px;
}
.m-content{
  padding-left: 8px;
  border-bottom: 1px solid #DDD;
  line-height: 28px;
}
.al-left{
  text-align: left;
  background: #F5F5F5;
}
.al-right{ text-align: right }
.new{
  bottom: 0;
  position: fixed;
  .form-inputs, .actions{float: left}
  textarea{
    width: 356px;
    resize: none;
    max-height: 54px;
  }
  button{
    height: 54px;
  }
}
