#main-profile-wrapper{}
#header{
	height: 100px; 
	background: #3a5795;
	padding: 30px;
	#logo{
		font-size: 30px;
		color: #fff;
		float: left;
	}
	a{
		font-size: 20px;
		float: right;
		color: #FFF;
	}
}
#unlog-navbar{
	background: #3a5795;
	height: 150px;
	p{
		font-size: 60px; 
		color:#FFF; 
		float:left; 
		margin-top: 30px; 
		margin-left: 300px;
	}
	#log-in-form{
		width: 400px; 
		float:right; 
		margin-right: 350px; 
		margin-top: 30px;
	}
}
#sign-up-form{
	width: 400px; 
	float:right; 
	margin-right: 350px; 
	clear: both;
}
#post-wrapper{
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
	background: #CCC;
}
.post{ 
	width: 100%; 
	margin-bottom: 40px;
	.author-pic{ 
		color: red;
		float: left;
		width: 80px;
		height: 80px;
		background: #FBB;
		line-height: 80px;
		text-align: center;
	}

	.main{
		float: right;
		width: calc(100% - 80px);
		.author{
			color: #3a5795;
		}
		.content{
			color: brown;
			word-wrap:break-word;
		}
		.functions{
			color: green;
		}
	}
}
#people{
  width: 25%;
  height: 300px;
	float:right;
}
.user{
	background: #EEE;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
	.user-pic{
		float: left;
		margin: 0;
		width: 60px;
		height: 60px;
		color: red;
		line-height: 60px;
		background: #FBB;
		text-align: center;
	}
	.main{
		float: right;
		width: calc(100% - 60px);
		.info{
			color: brown;
			word-wrap:break-word;
		}
		.functions{
			color: green;
		}
	}
}
.post-comments{
	clear: both;
}
.new_comment{
	width: 500px;
	margin-left: 25px;
}
.comment{ 
	border: 1px solid red;
	margin-left: 25px;
	height: 30px;
	clear: both;
	.functions{
		display: inline-block;
		float: right;
	}
	.button_to{
		display: inline-block;
		float: right;
	}
}
.functions form{
	display: inline-block;
}
.alert{
	position: absolute;
	top: 0;
	width: 500px;
	height: 50px;
	text-align: center;
	line-height: 20px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 20px;
	color: #FFF;
}