#main-profile-wrapper{}
#header{
	height: 100px; 
	background: #3a5795;
	padding: 30px;
	#logo{
		font-size: 30px;
		color: #fff;
		float: left;
	}
	a{
		font-size: 20px;
		float: right;
		color: #FFF;
	}
}
#unlog-navbar{
	background: #3a5795;
	height: 150px;
	p{
		font-size: 60px; 
		color:#FFF; 
		float:left; 
		margin-top: 30px; 
		margin-left: 300px;
	}
	#log-in-form{
		width: 400px; 
		float:right; 
		margin-right: 350px; 
		margin-top: 30px;
	}
}
#sign-up-form{
	width: 400px; 
	float:right; 
	margin-right: 350px; 
	clear: both;
}
#post-wrapper{
	width: 50%;
	margin: 0 auto;
	background: #CCC;
}
.post{ 
	width: 100%; 
	margin-bottom: 40px;
	.author-pic{ 
		color: red;
		float: left;
		width: 80px;
		height: 80px;
		background: #FBB;
	}

	.main{
		float: right;
		width: calc(100% - 80px);
		.author{
			color: #3a5795;
		}
		.content{
			color: brown;
			word-wrap:break-word;
		}
		.functions{
			color: green;
		}
	}
}