body{
	background: #EBEBEB;
}
p{
	margin: 0;
}
.form-group{
	margin: 0;
}
#main-profile-wrapper{}
#unlog-navbar{
	background: #3a5795;
	height: 150px;
	p{
		font-size: 60px; 
		color:#FFF; 
		float:left; 
		margin-top: 30px; 
		margin-left: 300px;
	}
	#log-in-form{
		width: 400px; 
		float:right; 
		margin-right: 350px; 
		margin-top: 30px;
	}
}
#sign-up-form{
	width: 400px; 
	float:right; 
	margin-right: 350px; 
	clear: both;
}
//		##       #### ##    ## ##    ##  ######  
//		##        ##  ###   ## ##   ##  ##    ## 
//		##        ##  ####  ## ##  ##   ##       
//		##        ##  ## ## ## #####     ######  
//		##        ##  ##  #### ##  ##         ## 
//		##        ##  ##   ### ##   ##  ##    ## 
//		######## #### ##    ## ##    ##  ######  

a{
	color: inherit;
	text-decoration:none; 
	cursor:pointer; 
	&:hover,&:focus,&:active{
	color: inherit;
	text-decoration:none; 
	cursor:pointer; 
	}
}

//		########  ########   #######  ######## #### ##       ########    ########  ####  ######   ######  
//		##     ## ##     ## ##     ## ##        ##  ##       ##          ##     ##  ##  ##    ## ##    ## 
//		##     ## ##     ## ##     ## ##        ##  ##       ##          ##     ##  ##  ##       ##       
//		########  ########  ##     ## ######    ##  ##       ######      ########   ##  ##        ######  
//		##        ##   ##   ##     ## ##        ##  ##       ##          ##         ##  ##             ## 
//		##        ##    ##  ##     ## ##        ##  ##       ##          ##         ##  ##    ## ##    ## 
//		##        ##     ##  #######  ##       #### ######## ########    ##        ####  ######   ###### 

.user-pic-lg, .user-pic-md, .user-pic-sm > img{
	color: white;
	float: left;
	text-align: center;
}
.user-pic-lg > img{
	width: 64px;
	height: 64px;
}
.user-pic-md > img{
	width: 48px;
	height: 48px;
}
.user-pic-sm > img{
	width: 32px;
	height: 32px;
}
//		##     ## ########    ###    ########  ######## ########  
//		##     ## ##         ## ##   ##     ## ##       ##     ## 
//		##     ## ##        ##   ##  ##     ## ##       ##     ## 
//		######### ######   ##     ## ##     ## ######   ########  
//		##     ## ##       ######### ##     ## ##       ##   ##   
//		##     ## ##       ##     ## ##     ## ##       ##    ##  
//		##     ## ######## ##     ## ########  ######## ##     ##



#header{
	height: 60px; 
	background: #3a5795;
	line-height: 60px;
	padding: 0 20px;
	font-size: 18px;
	color: #fff;
	#logo{
		font-size: 28px;
		float: left;
	}
	.logout{
		float: right;
		color: #FFF;
		&:hover{
			text-decoration:underline; 
		}
	}
}
#left-head{
	a{
		display: inline-block;
		margin-left: 15px;
		float: left;
		color: #FFF;
		position: relative;
	}
	span{
		color: #1a3775;
	}
	#first-glyph{
		position: relative;
		left: 12px;
		z-index: 5;
		color: #4a67a5;
	}
}
//		 ######   #######  ##     ## ##     ## ######## ##    ## ########  ######  
//		##    ## ##     ## ###   ### ###   ### ##       ###   ##    ##    ##    ## 
//		##       ##     ## #### #### #### #### ##       ####  ##    ##    ##       
//		##       ##     ## ## ### ## ## ### ## ######   ## ## ##    ##     ######  
//		##       ##     ## ##     ## ##     ## ##       ##  ####    ##          ## 
//		##    ## ##     ## ##     ## ##     ## ##       ##   ###    ##    ##    ## 
//		 ######   #######  ##     ## ##     ## ######## ##    ##    ##     ######  

.comment{
	clear: both;
	padding-top: 8px;
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	word-wrap:	break-word;
 	word-break: break-all;
	.c-comments{
		margin-left: 10px;
	}
}
.c-main{
	.c-core{
		overflow: hidden;
	}
}

.new-comment{
	.form-group{
		width: calc(100% - 60px);
		float: left;
	}
	.btn{
		width: 60px;
		float: right;
	}	
}
.functions{
	p{
		display: inline-block;
		margin-left: 20px;
	}
	form{
		display: inline-block;
	}
	#make-comment{
		margin-left: 20px;
		color: #CCC;
	}
}
//		########   #######   ######  ########  ######  
//		##     ## ##     ## ##    ##    ##    ##    ## 
//		##     ## ##     ## ##          ##    ##       
//		########  ##     ##  ######     ##     ######  
//		##        ##     ##       ##    ##          ## 
//		##        ##     ## ##    ##    ##    ##    ## 
//		##         #######   ######     ##     ######  

//http://patorjk.com/software/taag/#p=display&h=1&v=0&f=Banner3&t=Posts

#dashboard-posts{
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
}
.post{ 
	width: 100%; 
	margin-bottom: 30px;
	background: #FFF;
	border: 1px solid;
	border-color: #EEE #DDD #CCC;
	.p-main{
		padding: 8px;
		border-bottom: 1px solid #CCC;
	}
	.p-author{
		color: #3a5795;
		width: calc(100% - 48px);
		float: right;
	}
	.p-content{
		margin-top: 15px;
		word-wrap:	break-word;
 		word-break: break-all;
		clear: both;
	}
	.p-functions{
		margin-top: 10px;
		clear: both;
		overflow: hidden;
		padding: 0px 20px;
		border-top: 1px solid #CCC;
	}
	.p-comments{
		padding: 8px;
		background: #F5F5F5;
		padding-left: 25px;
	}
}

//		########  ########  #######  ########  ##       ######## 
//		##     ## ##       ##     ## ##     ## ##       ##       
//		##     ## ##       ##     ## ##     ## ##       ##       
//		########  ######   ##     ## ########  ##       ######   
//		##        ##       ##     ## ##        ##       ##       
//		##        ##       ##     ## ##        ##       ##       
//		##        ########  #######  ##        ######## ######## 

#people{
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  p{
  	font-size: 24px;
  	font-weight: bold;
  	padding-left: 15px;
  }
	>div{ 
		width: 100%; 
		margin-top: 30px;
		background: #FFF;
		border: 1px solid;
		border-color: #DDD #CCC #BBB;
		padding: 8px;
	}
}

.user-people{
	background: #EEE;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
	line-height: 32px;
	word-wrap:	break-word;
  word-break: break-all;
	.user-pic, .user-name, .message{
		float: left;
		margin-right: 10px;
	}
	.user-name{
		font-weight: bold;
	}
	.functions{
		float: right;
	}
}
//		##    ##  #######  ##     ##    ##     ##    ###    ##    ##    ##    ## ##    ##  #######  ##      ## 
//		 ##  ##  ##     ## ##     ##    ###   ###   ## ##    ##  ##     ##   ##  ###   ## ##     ## ##  ##  ## 
//		  ####   ##     ## ##     ##    #### ####  ##   ##    ####      ##  ##   ####  ## ##     ## ##  ##  ## 
//		   ##    ##     ## ##     ##    ## ### ## ##     ##    ##       #####    ## ## ## ##     ## ##  ##  ## 
//		   ##    ##     ## ##     ##    ##     ## #########    ##       ##  ##   ##  #### ##     ## ##  ##  ## 
//		   ##    ##     ## ##     ##    ##     ## ##     ##    ##       ##   ##  ##   ### ##     ## ##  ##  ## 
//		   ##     #######   #######     ##     ## ##     ##    ##       ##    ## ##    ##  #######   ###  ###  
#you-may-know{
  width: 25%;
  height: 300px;
	float:right;
	a:hover{
		text-decoration:underline; 
	}
}
.user{
	background: #EEE;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
	.main{
		float: right;
		width: calc(100% - 64px);
		.info{
			color: brown;
			word-wrap:break-word;
		}
		.functions{
			color: green;
		}
	}
}
//		 ######  ##     ##  #######  ##      ##    ##     ##  ######  ######## ########  
//		##    ## ##     ## ##     ## ##  ##  ##    ##     ## ##    ## ##       ##     ## 
//		##       ##     ## ##     ## ##  ##  ##    ##     ## ##       ##       ##     ## 
//		 ######  ######### ##     ## ##  ##  ##    ##     ##  ######  ######   ########  
//		      ## ##     ## ##     ## ##  ##  ##    ##     ##       ## ##       ##   ##   
//		##    ## ##     ## ##     ## ##  ##  ##    ##     ## ##    ## ##       ##    ##  
//		 ######  ##     ##  #######   ###  ###      #######   ######  ######## ##     ## 

#profile{
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
	>div{ 
		width: 100%; 
		margin-top: 30px;
		background: #FFF;
		border: 1px solid;
		border-color: #DDD #CCC #BBB;
		padding: 8px;
	}
}

//		########  ########   #######  ######## #### ##       ######## 
//		##     ## ##     ## ##     ## ##        ##  ##       ##       
//		##     ## ##     ## ##     ## ##        ##  ##       ##       
//		########  ########  ##     ## ######    ##  ##       ######   
//		##        ##   ##   ##     ## ##        ##  ##       ##       
//		##        ##    ##  ##     ## ##        ##  ##       ##       
//		##        ##     ##  #######  ##       #### ######## ######## 

#profile-main{
	width: 25%;
	clear: both;
  position: absolute;
  #current-user{
  	width: 90%;
  	margin: 0 auto;
		line-height: 64px;
  }
	.user-name{
		float: left;
		font-weight: bold;
		font-size: 16px;
		padding-left: 10px;
	}
	#links{
	}
	.link{
		width: 90%;
		margin: 0 auto;
		margin-top: 15px;
	}
}
//		   ###    ##       ######## ########  ########  ######  
//		  ## ##   ##       ##       ##     ##    ##    ##    ## 
//		 ##   ##  ##       ##       ##     ##    ##    ##       
//		##     ## ##       ######   ########     ##     ######  
//		######### ##       ##       ##   ##      ##          ## 
//		##     ## ##       ##       ##    ##     ##    ##    ## 
//		##     ## ######## ######## ##     ##    ##     ######  

.alert{
	position: absolute;
	top: 0;
	width: 500px;
	height: 50px;
	text-align: center;
	line-height: 20px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 20px;
}
//		##     ##    ###    #### ##    ##    ########  ########   #######  ######## #### ##       ######## 
//		###   ###   ## ##    ##  ###   ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
//		#### ####  ##   ##   ##  ####  ##    ##     ## ##     ## ##     ## ##        ##  ##       ##       
//		## ### ## ##     ##  ##  ## ## ##    ########  ########  ##     ## ######    ##  ##       ######   
//		##     ## #########  ##  ##  ####    ##        ##   ##   ##     ## ##        ##  ##       ##       
//		##     ## ##     ##  ##  ##   ###    ##        ##    ##  ##     ## ##        ##  ##       ##       
//		##     ## ##     ## #### ##    ##    ##        ##     ##  #######  ##       #### ######## ######## 


#show-profile{
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
	background: #FFF;
	border: 1px solid;
	border-color: #DDD #CCC #BBB;
	margin-top: 50px;
	>div{
		padding: 8px;
	}
	#profile-head{
		background: #EEE;
		border-bottom: 1px solid #BBB;
		font-size: 24px;
		line-height: 30px;
	}
	#about{
		font-size: 16px;
		margin-top: 12px;
	}
	#details{
		>p{
			margin-top: 12px;
		}
	}
}